<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/transcribe"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="save-btn" (click)="saveTranscript()" fill="solid" color="success" size="large">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="media-player">

  </div>
  <div id="editor">
    <ion-list #paragraphsList id="paragraphs" spellcheck="false">
      <ion-item *ngFor="let paragraph of paragraphs; index as i">
        <ion-label>{{paragraph[0].start}} - {{paragraph[paragraph.length-1].end}}</ion-label>
        <ion-button [disabled]="!isLoaded" shape="round" (click)="setAudioTimeByParagraphIndex(i)" id="play-paragraph-btn"><ion-icon name="play" id="play-paragraph-icon"></ion-icon></ion-button>
        <div class="paragraph-wrapper" contenteditable (focusout)="updateTimestamps($event, i)" (keydown)="splitParagraphIfEnter($event, i)">
          <ng-container *ngFor="let word of paragraph; index as j">
            <span class="word">{{word.word}}</span>
            <span *ngIf="j < paragraph.length - 1">&nbsp;</span>
          </ng-container>
        </div>
        <div *ngIf="i == 0" slot="start" id="merge-placeholder"></div>
        <ion-button color="secondary" *ngIf="i > 0" (click)="mergeParagraphUp(i)" slot="start" size="small" class="link-btn">
          <ion-icon name="arrow-up"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <div id="audio-ctrl">
    <ion-item>
      <ion-range id="audio-progress" min="0" max="{{audioDuration*100}}" color="secondary" value="{{(currentAudioTime - audioStartTime)*100}}">
        <ion-label slot="start">{{audioStartTime}}</ion-label>
        <ion-label slot="end">{{audioEndTime}}</ion-label>
      </ion-range>
    </ion-item>
    <ion-buttons class="ion-justify-content-center">
      <ion-button [disabled]="!isLoaded" (click)="mediaStop()" id="reset-btn"><ion-icon name="square"></ion-icon></ion-button>
      <ion-button [disabled]="!isLoaded" (click)="mediaToggle()" id="start-stop-btn"><ion-icon [name]="isPlaying ? 'pause':'play'"></ion-icon></ion-button>
    </ion-buttons>
  </div>
</ion-footer>
