@keyframes highlight {
  0%, 80% {
    background-color: yellow;
  }
  100% {
    background-color: inherit;
  }
}

#paragraphs {
    ion-item {
        overflow: visible!important;
        .item-inner {
          overflow: visible !important;
          .input-wrapper {
            overflow: visible !important;
          }
        }

        span.word {
          &.highlight {
            animation: 2s ease highlight;
            // background-color: yellow;
          }
        }
      }

    ion-label {
        flex: 0 0 100px;
    }

    #play-paragraph-btn {
      margin-right: 10px;
    }

    .link-btn, #merge-placeholder {
      width: 30px;
      margin-right: 5px;
    }
}

ion-footer {
  height: 80px;
}

#audio-ctrl {
  ion-item {
    --min-height: 16px;

    #audio-progress {
      --height: 10px;
      padding: 0;
    }
  }


  ion-buttons ion-button {
    font-size: 20px;
    margin: 10px;
  }


}

.item {
    contain: none;
 }

#save-btn {
  padding-right: 10px;
}

