<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/transcribe"></ion-back-button>
    </ion-buttons>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="media-player">

  </div>
  <div id="editor">
    <ion-list id="paragraphs" spellcheck="false">
      <ion-item *ngFor="let paragraph of paragraphs; index as i">
        <ion-label>{{paragraph[0].start}} - {{paragraph[paragraph.length-1].end}}</ion-label>
        <div contenteditable (focusout)="updateTimestamps($event, i)" (keydown)="splitParagraphIfEnter($event, i)">
          <ng-container *ngFor="let word of paragraph; index as j">
            <span>{{word.word}}</span>
            <span *ngIf="j < paragraph.length - 1">&nbsp;</span>
          </ng-container>
        </div>
        <div *ngIf="i == 0" slot="start" id="merge-placeholder"></div>
        <ion-button *ngIf="i > 0" (click)="mergeParagraphUp(i)" slot="start" size="small" class="link-btn">
          <ion-icon name="arrow-up"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-buttons class="ion-justify-content-center">
    <ion-button [disabled]="!isLoaded" (click)="mediaStop()"><ion-icon name="square"></ion-icon></ion-button>
    <ion-button [disabled]="!isLoaded" (click)="mediaToggle()"><ion-icon [name]="isPlaying ? 'pause':'play'"></ion-icon></ion-button>
  </ion-buttons>
</ion-footer>
